<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm Nhân viên</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Thêm Nhân viên</h1>
    <form th:action="@{/nhanvien/add}" th:object="${nhanVien}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="form-label">Mã Nhân viên</label>
            <input type="text" class="form-control" th:field="*{maNV}" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('maNV')}" th:errors="*{maNV}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Tên Nhân viên</label>
            <input type="text" class="form-control" th:field="*{tenNV}" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('tenNV')}" th:errors="*{tenNV}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Phái</label>
            <select class="form-control" th:field="*{phai}" required>
                <option value="">Chọn phái</option>
                <option value="NAM">NAM</option>
                <option value="NU">NỮ</option>
                <input type="file" class="form-control" name="imageFile" required />
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('phai')}" th:errors="*{phai}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Nơi Sinh</label>
            <input type="text" class="form-control" th:field="*{noiSinh}" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('noiSinh')}" th:errors="*{noiSinh}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Phòng Ban</label>
            <input type="text" class="form-control" th:field="*{maPhong}" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('maPhong')}" th:errors="*{maPhong}"></div>
        </div>
        <div class="mb-3">
            <label class="form-label">Lương</label>
            <input type="number" class="form-control" th:field="*{luong}" required />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('luong')}" th:errors="*{luong}"></div>
        </div>




        <button type="submit" class="btn btn-primary">Thêm Nhân viên</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
